header always set Access-Control-Allow-Origin "*"
header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
header always set Access-Control-Allow-Headers "*"

RewriteEngine On

# Excluir la carpeta /public de la reescritura
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^ - [L]

# Redirect Trailing Slashes...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Rewrite URLs of the form 'index.php/x' to 'index.php?url=x'
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
